.App {
    text-align: center;
    background: #f7f7f7;
    font-size: 14px;

    height: 100vh;

    h1 {
        font-size: 14PX;
    }
}

.App-logo {
    height: 200px;
    pointer-events: none;
}

#wxLogin-qr {
    width: 250px;
    height: 250px;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}